
body{
    margin: 0;
    padding: 0;
    background-color: #CDF0EA;
}

/* <!-- Nav bar --> */
.navbar-toggler{
    padding: 0;
}
.navbar, .navbar-brand{
    font-family: 'Prompt', sans-serif;
    font-size: larger;
   
}
.nav_shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}






/* <!-- Intro ans starting section --> */










/* <!-- Approach section --> */












/* <!-- Workflow section --> */









/* <!-- Conclusion section --> */
