
body{
    margin: 0;
    padding: 0;
    background-color: #eaf6f6;
}

/* <!-- Nav bar --> */







/* <!-- Intro ans starting section --> */










/* <!-- Approach section --> */












/* <!-- Workflow section --> */









/* <!-- Conclusion section --> */
