/* tuhin css */
*{
    margin: auto;
    padding: 0;
}
.navbar{
    background-color: aqua;
}



/* arian css */
.board {
    padding-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 85, 85);
}

.hello{
    text-align: center;
}








